*
{
    margin: 0;
    padding: 0;
}

body
{
    /*background: rgba(0,0,255,.10);*/
    background: rgb(0,0,0);
}

canvas
{
    position: absolute;
}

.bm,
.bm2,
.bm3
{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;

    position: fixed;
    top: 20px;
    right: 20px;

    color: rgba(255, 255, 255, .5);
}

.bm2
{
    font-size: 20px;

    top: auto;
    right: 5px;
    bottom: 5px;
}

.records
{
    top: auto;
    left: 5px;
    bottom: 5px;
}

.bm3
{
    position: fixed;
    z-index: 9999999;
    top: 20px;
    left: 20px;
}



.buttonStart
{
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;

    position: fixed;
    z-index: 99999;
    top: 40%;
    left: 50%;

    padding: 9px 18px;

    transform: translate(-50%, 0);
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    color: rgba(255, 255, 255, .47);
    border: 1px solid rgba(255, 255, 255,.35);
    border-radius: 13px;
}

.title
{
    font-family: Arial;
    font-size: 58px;
    font-weight: bold;

    position: fixed;
    z-index: 99999;
    top: 10%;
    left: 50%;

    transform: translate(-50%, 0);
    text-align: center;

    color: rgba(255, 255, 255, .40);
}

@keyframes blink
{
    50%
    {
        opacity: .4;
    }
}
